@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

.swiper-slide {
  width: 100% !important;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

.facets__summary-label,
.facets__summary * {
  font-weight: 400;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0.5px;
  vertical-align: middle;
  text-transform: uppercase;
}

.facet-checkbox__text {
  font-family: Figtree;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

h2#verticalTitle {
  font-size: 2.25rem;
  color: #000;
  text-transform: uppercase;
}

.collection-hero__title {
  margin-top: 5rem !important;
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.facet-id--tamanho {
  ul.facets-layout.facets-layout-list.facets-layout-list--text.facets__list--vertical.list-unstyled {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .facets__label {
    padding: 0;

    &.active {
      .facet-checkbox__text-label {
        background-color: #333333;
        color: #fff;
      }
    }
  }

  .list-menu__item {

    svg,
    .svg-wrapper {
      display: none;
    }

    .facet-checkbox__text {
      font-size: 0;

      .facet-checkbox__text-label {
        font-size: 12px;
        border: 1px solid #333333;
        border-radius: 50%;
        padding: .15rem;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
      }
    }
  }
}


@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description>* {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}

@media (max-width:990px) {
  #FacetFiltersForm {
    display: none;
  }
}

.active-facets.active-facets-desktop {
  display: none;
}

.facets__disclosure-vertical {
  border-bottom: 1px solid #000;
  border-top: none !important;
}

.facet-id--cor {
  .facet-checkbox__text {
    display: none;
  }
}

ul.facets-layout.facets-layout-list.facets-layout-list--swatch.facets__list--vertical.list-unstyled {
  display: flex;
  gap: 16px;

  .facets__label.facet-checkbox {
    padding: 0;
  }
}

.facet-id--tags {
  ul.facets-layout.facets-layout-list.facets-layout-list--text.facets__list--vertical.list-unstyled {
display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .show-more-item.hidden {
    display: block !important;
  }
  show-more-button {
    display: none;
  }
  label.facets__label.facet-checkbox {
    padding: 0;
    .facet-checkbox__text {
      font-size: 0;

      .facet-checkbox__text-label {
        display: block;
        border: 1px solid #00000066;
            padding: 1.1rem .75rem;
        font-family: "Figtree",sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0.5px;
        text-align: center;
        vertical-align: middle;

      }
    }

    svg {
      display: none;
    }
  }
}

@media (min-width:1000px) {
  aside#main-collection-filters {
       max-width: 330px;
    min-width: 330px;

    .facets__form-vertical {
      width: 100% !important;
    }
  }
}